<%= @restaurant.name %>
<%= @restaurant.address %>
<%= @restaurant.phone_number %>
<%= @restaurant.category %>
<% @reviews.each do |review| %>
  <li><%= review.content %> <%= review.rating %> </li>
<% end %>
